@{
    ViewData["Title"] = "Alta de Director Tecnico";
}

<h1 class="text-center mb-5">Alta de Director Tecnico</h1>

<form action="/alta/procesarDirectorTecnico" method="post">
    <div class="col-6 mx-auto form-group d-flex flex-column">
        <label for="nombreUsuario">Nombre de usuario</label>
        <input class="form-control mb-4" type="text" name="NombreUsuario" id="nombreUsuario" required />

        <label for="arquero">Seleccionar arquero:</label>
        <select class="custom-select mb-4" id="arquero">
            <option value="arquero1">Arquero 1</option>
            <option value="arquero2">Arquero 2</option>
            <option value="arquero3">Arquero 3</option>
            <option value="arquero4">Arquero 4</option>
        </select>

        <label for="delantero1">Seleccionar primer delantero:</label>
        <select class="custom-select mb-4" id="delantero1">
            <option value="delantero1">Delantero 1</option>
            <option value="delantero2">Delantero 2</option>
            <option value="delantero3">Delantero 3</option>
            <option value="delantero4">Delantero 4</option>
        </select>

        <label for="delantero2">Seleccionar segundo delantero:</label>
        <select class="custom-select mb-4" id="delantero2">
            <option value="delantero2-1">Delantero 1</option>
            <option value="delantero2-2">Delantero 2</option>
            <option value="delantero2-3">Delantero 3</option>
            <option value="delantero2-4">Delantero 4</option>
        </select>

        <input class="btn btn-primary" type="submit" value="Crear" />
    </div>
</form>