@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Batalla De Los Penales</h1>

    <div class="col-4 mx-auto d-flex flex-column">
        <a class="btn btn-outline-primary mb-3" href="/alta/arquero">Alta de Arquero</a>
        <a class="btn btn-outline-primary mb-3" href="/alta/delantero">Alta de Delantero</a>
        <a class="btn btn-outline-primary mb-5" href="/alta/directortecnico">Alta de Director Tecnico</a>

        <a class="btn btn-primary mb-3" href="/home/directorestecnicos">Lista de Directores Tecnicos</a>
        <a class="btn btn-primary" href="/home/ganador">Ver Ganador de "Batalla De Los Penales"</a>
    </div>
</div>
